<!DOCTYPE html>
<html>
	<head>
  		<title>XP Maker</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  		<meta charset="UTF-8">

  		<script src="{{ url_for('bower.static', filename='vexflow/releases/vexflow-min.js') }}"></script>
  		<script src="{{ url_for('bower.static', filename='abcjs/abcjs_editor_midi_3.1.3-min.js') }}"></script>
  	</head>
  	<body>

  		<h1>XP Maker</h1>

  		{% if xp %}
  		<textarea name="xp" id="xp", cols="80", rows="5">{{xp}}</textarea>
  		<div id="xp_canvas" style="width: 771.513px; overflow: hidden; height: 464.403px;"></div>
  		{% endif %}

  		<form method="post" id="inputs">
  			<div>Title</div>
  			<input type="string" name="title"></input>

			<div>Enter your notes here without regard for rhythm.</div>
			<script type="text/javascript">
				window.onload = function() {
					notes_editor = new ABCJS.Editor("notes", { canvas_id: "notes_canvas", midi_id:"midi", warnings_id:"warnings" });
					rhythm_editor = new ABCJS.Editor("rhythms", { canvas_id: "rhythm_canvas", midi_id:"midi", warnings_id:"warnings" });
					{% if xp %}
					xp_editor = new ABCJS.Editor("xp", { canvas_id: "xp_canvas", midi_id:"midi", warnings_id:"warnings" });
					{% endif %}
				}
			</script>
		  	<textarea name="notes" id="notes" cols="80" rows="5">E ^F G B E</textarea>

			<div id="notes_canvas" style="width: 771.513px; overflow: hidden; height: 464.403px;"></div>

  			<div>Enter your rhythm here without regard for notes</div>
	  		<textarea name="rhythms" id="rhythms" cols="80" rows="5">L: 1
C/4 C/4 C/8 C/16 C/16</textarea>
			<div id="rhythm_canvas" style="width: 771.513px; overflow: hidden; height: 464.403px;"></div>

	  		<div></div>
	  		<input type="submit" name="submit"></input>
	  	</form>

	  	<div id="xp"></div>

	  	<div id="prints">{{prints | safe}}</div>
    
  	</body>
</html>