<!DOCTYPE html>
<html>
	<head>
  		<title>XP Maker</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  		<meta charset="UTF-8">

  		<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
  		<script src="{{ url_for('bower.static', filename='vexflow/releases/vexflow-min.js') }}"></script>
  		<script src="{{ url_for('bower.static', filename='abcjs/abcjs_editor_midi_3.1.3-min.js') }}"></script>
  		<script src="{{ url_for('static', filename='js/xpmaker.js') }}"></script>

  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  		<link rel="stylesheet" href="{{ url_for('static', filename='css/abcjs-midi.css') }}" media="all" type="text/css" />
  	</head>
  	<body>

  		<h1>XP Maker</h1>

  		<h2>Your generated loop</h2>
  		<textarea name="xp" id="xp_input", cols="80", rows="5"></textarea>
  		<div id="xp_canvas" style="width: 771.513px; overflow: hidden; height: 464.403px;"></div>
  		<div id="xp_midi"></div>
  		<div id="xp_midi_dl"></div>
  		<hr>

  		<h2>Input</h2>
  		<form method="post" id="inputs">
  			<h3>General info (optional)</h3>
  			<div>Title</div>
  			<input type="string" name="title" class="input" id="title_input" oninput="updateXP()"></input>

  			<div>Tempo</div>
  			<input type="number" name="bpm" class="input" id="bpm_input" oninput="updateXP()"></input>

  			<h3>Notes</h3>
			<div>Enter your notes here without regard for rhythm.</div>
			<script type="text/javascript">
				window.onload = function() {
					notes_editor = new ABCJS.Editor("notes_input", { canvas_id: "notes_canvas", midi_id:"notes_midi", warnings_id:"warnings" });
					rhythm_editor = new ABCJS.Editor("rhythms_input", { canvas_id: "rhythm_canvas", midi_id:"rhythm_midi", warnings_id:"warnings" });
					updateXP();

					xp_editor = new ABCJS.Editor("xp_input", { canvas_id: "xp_canvas",
												 		 midi_id: "xp_midi",
												 		 midi_download_id: "xp_midi_dl",
												 		 midi_options: {
												 		 	generateDownload:"true",
												 		 	downloadLabel:"Download %T.mid"
												 		 },
												 		 warnings_id: "warnings",
												 		 parser_params: {},
												 		 generate_midi: true,
												 		 generate_warnings: false
											    });
				};
			</script>
		  	<textarea name="notes" class="input" id="notes_input" cols="80" rows="5" oninput="updateXP()">E ^F G B E</textarea>

			<div id="notes_canvas" style="width: 771.513px; overflow: hidden; height: 464.403px;"></div>

			<h3>Rhythm</h3>
  			<div>Enter your rhythm here without regard for notes</div>
	  		<textarea name="rhythms" class="input" id="rhythms_input" cols="80" rows="5" oninput="updateXP()">L: 1
C/4 C/4 C/8 C/16 C/16</textarea>
			<div id="rhythm_canvas" style="width: 771.513px; overflow: hidden; height: 464.403px;"></div>
	  	</form>

	  	<div id="xp"></div>

	  	<div id="prints">{{prints | safe}}</div>
    
  	</body>
</html>